{% extends 'base.html.twig' %}

{% block title %}Page d'administration{% endblock %}

{% block montitre %}Gérer la liste des Aliments{% endblock %}

{% block body %}

{% for message in app.flashes('success') %} 
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

    <div class="offset-1 col-10">
        <a class="btn btn-success" href="{{path('admin_aliment_ajouter')}}">Ajouter</a>
        <table class="table border mt-2">
            <tr class="table-info">
                <td>Image</td>
                <td>Aliment</td>
                <td>Prix</td>
                <td>Calories</td>
                <td>Protéines</td>
                <td>Glucides</td>
                <td>Lipides</td>
                <td>Actions</td>
            </tr>
            {% for aliment in aliments %}
                <tr>
                    <td><img src="{{asset('images/aliments/' ~ aliment.image)}}"  class="img_aliment_admin" alt=""></td>
                    <td><strong>{{aliment.nom }}</strong></td>
                    <td>{{aliment.prix}}</td>
                    <td>{{aliment.calorie}}</td>
                    <td>{{aliment.proteine}}</td>
                    <td>{{aliment.glucide}}</td>
                    <td>{{aliment.lipide}}</td>
                    <td>
                        <a href="{{path('admin_aliment_modifier', {'id' : aliment.id})}}" class="btn btn-warning m-1">Modifier</a>
                        <form class="m-1" style="display:inline-block" method="POST" action="{{path('admin_aliment_supprimer', {'id' : aliment.id})}}" onsubmit="return confirm('Confirmer la suppression ? ')">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ aliment.id)}}">
                            <input type="submit" class="btn btn-danger" value="supprimer">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}
