{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block montitre %}
    {% if isModification %}
        Modifier {{ aliment.nom }}
        {% else %}
        Ajouter un aliment
        {% endif %}
    {% endblock %}

{% block body %}
    <div class="row">
        <div class="bg-secondary border rounded offset-1 col-10 p-3">
            {{form_start(form)}}
            <div class="row">
                <div class="col-6">
                    <img src="{{asset('images/aliments/' ~ aliment.image)}}" style="width:25%" alt="">
                    <div>{{form_row(form.image)}}</div>
                    <div>{{ form_row(form.nom)}}</div>
                    <div>{{ form_row(form.prix)}}</div>
                </div>
                <div class="col-6">
                    {{form_widget(form)}}
                </div>
            </div>


            <input type="submit" class="btn btn-success" value="Enregistrer">

            {{form_end(form)}}

        </div>
    </div>

    

{% endblock %}
