{% extends 'base.html.twig' %}

{% block title %}Aliments{% endblock %}

{% block montitre %}Liste des aliments {% endblock %}

{% block body %}

<div class="row">
    {% for aliment in aliments %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card border-dark mb-3 mx-auto" style="width: 20rem;">
                <div class="card-header text-center">
                    <img src="{{asset("images/aliments/" ~ aliment.image)}}" class=" image_aliment" alt="">
                </div>
                <div class="card-body">
                <h5 class="card-title border-bottom border-dark pb-2 mx-3">{{aliment.nom}}</h5>
                
                <div class="card-text">
                    <h6 class="card-text pb-2">prix : {{ aliment.prix }} €</h6>
                    <table class="table text-center">
                        <tr class="table-info">
                            <td>Propriété</td>
                            <td>Valeur (100g)</td>
                        </tr>
                        <tr>
                            <td>calorie</td>
                            <td>{{ aliment.calorie }}</td>
                        </tr>
                        <tr>
                            <td>proteine</td>
                            <td>{{ aliment.proteine }}</td>
                        </tr>
                        <tr>
                            <td>glucide</td>
                            <td>{{ aliment.glucide }}</td>
                        </tr>
                        <tr>
                            <td>lipide</td>
                            <td>{{ aliment.lipide }}</td>
                        </tr>
                    </table>
                    
                </div>
                
                <a href="{{path('aliment')}}" class="btn btn-info">Voir l'aliment</a>
                </div>
            </div>
        </div>
     {% endfor %}       
</div>
    
{% endblock %}
