{% extends 'base.html.twig' %}

{% block title %}Aliments{% endblock %}

{% block montitre %}
    Liste des aliments 
    {% if isCalorie %}
        avec moins de 20 calories
    {% elseif isGlucide %}
        avec moins de 5 glucides
    {% endif %}
{% endblock %}

{% block body %}

<div class="dropdown m-4">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Trier les aliments par :
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{{path('aliments')}}">Tous les aliments</a>
        <a class="dropdown-item" href="{{path('alimentsParCalorie',{"calorie":20})}}">moins de 20 calories au 100g</a>
        <a class="dropdown-item" href="{{path('alimentsParGlucide',{"glucide":5})}}">moins de 5 glucide au 100g</a>

    </div>
</div>



<div class="row">
    {% for aliment in aliments %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card border-dark mb-3 mx-auto" style="width: 20rem;">
                <div class="card-header text-center">
                    <img src="{{asset("images/aliments/" ~ aliment.image)}}" class=" image_aliment" alt="">
                </div>
                <div class="card-body">
                <h5 class="card-title border-bottom border-dark pb-2 mx-3">{{aliment.nom}}</h5>
                
                <div class="card-text">
                    <h6 class="card-text pb-2">prix : {{ aliment.prix }} €</h6>
                    <table class="table text-center">
                        <tr class="table-info">
                            <td>Propriété</td>
                            <td>Valeur (100g)</td>
                        </tr>
                        <tr>
                            <td>calorie</td>
                            <td>{{ aliment.calorie }}</td>
                        </tr>
                        <tr>
                            <td>proteine</td>
                            <td>{{ aliment.proteine }}</td>
                        </tr>
                        <tr>
                            <td>glucide</td>
                            <td>{{ aliment.glucide }}</td>
                        </tr>
                        <tr>
                            <td>lipide</td>
                            <td>{{ aliment.lipide }}</td>
                        </tr>
                    </table>
                    
                </div>
                
                <a href="{{path('aliment')}}" class="btn btn-info">Voir l'aliment</a>
                </div>
            </div>
        </div>
     {% endfor %}       
</div>
    
{% endblock %}
